.background {
    background-color: #e8e8e8;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 40px 40px;
    transition: 1s;
    /*justify-content: center;*/
}

.background-dialog {
    justify-content: center;
}

.item {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=4); /*ie*/
    -moz-box-shadow: 2px 2px 10px #909090; /*firefox*/
    -webkit-box-shadow: 2px 2px 10px #909090; /*safari或chrome*/
    box-shadow: 2px 2px 10px #909090; /*opera或ie9*/
}

.item:hover {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090, direction=120, strength=60); /*ie*/
    -moz-box-shadow: 30px 30px 300px #909090; /*firefox*/
    -webkit-box-shadow: 30px 30px 300px #909090; /*safari或chrome*/
    box-shadow: 30px 30px 150px #909090; /*opera或ie9*/
    transform: scale(1.2);
}

.round-small {
    width: 200px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    /*圆角效果*/
    border-radius: 20px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: white;
    transition: 0.5s;
}

.round {
    width: 250px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    /*圆角效果*/
    border-radius: 20px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    background-color: white;
    transition: 0.5s;
}

.wide {
    width: 100%;
}

img {
    width: 100px;
    height: 100px;
}

.good-img {
    width: 100px;
    height: 100px;
}

/*noinspection CssUnusedSymbol*/
.has {
    background-color: aqua;
}

/*noinspection CssUnusedSymbol*/
.outOff {
    background-color: red;
}

/*noinspection CssUnusedSymbol*/
.fade-enter-active, .fade-leave-active {
    transition: all 1s;
}

/*noinspection CssUnusedSymbol*/
.fade-enter, .fade-leave-to {
    transform: translateY(30px);
    opacity: 0;
}

.tag {
    margin-left: 2px;
    margin-right: 2px;
}